@model Model.EF.NewsCategory

@{
    ViewBag.Title = "Thêm mới danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Thêm mới danh mục
}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Nhập thông tin
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8">
                            @using (Html.BeginForm("Create", "NewsCategories", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.name, new { @class = "form-control col-lg-4" })
                                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <div>
                                        <input type="submit" value="Tạo mới" class="btn btn-success btnConfirm" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>
    @Html.ActionLink("Back to list", "Index")
</div>
