@model PagedList.IPagedList<Model.EF.NewsCategory>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý Danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Danh sách Danh mục
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh mục
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("Index", "NewsCategories", FormMethod.Get))
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-md-4">
                                <input type="text" value="@ViewBag.SearchString" class="form-control" placeholder="Nhập tên danh mục..." name="seachString" />
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                @Html.ActionLink("Tạo mới", "Create")
                            </div>
                        </div>
                    </div>

                }

                <div class="table-responsive">
                    <br />
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Tên danh mục</th>
                                <th style="width:10px"></th>
                                <th style="width:10px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.id">
                                    <td>@item.name</td>
                                    <td>
                                        <a href="/Admin/NewsCategories/Edit/@item.id" class="btnEdit"></a>
                                    </td>
                                    <td>
                                        @Ajax.ActionLink("Xóa", "Delete", new { @id = item.id }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xóa danh mục này?",
                                       OnComplete = "@('#row_ " + @item.id + "').remove()",
                                       HttpMethod = "Delete",
                                   }, new { @class = "btnDelete" })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>