@model PagedList.IPagedList<Model.EF.NewsCategory>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý Danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Danh sách Danh mục
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh mục
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("Index", "NewsCategories", FormMethod.Get))
                {
                    <div class="row">
                        <div class="col-lg-4 input-group custom-search-form" style="float:right; padding-right:15px;">
                            <input type="text" class="form-control" placeholder="Nhập tên danh mục ..." value="@ViewBag.SearchString" name="seachString" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                }

                <span class="btnAdd" onclick="location.href = '/Admin/NewsCategories/Create'">Thêm mới</span>
                <div class="table-responsive">
                    <br />
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Tên danh mục</th>
                                <th style="width:10px"></th>
                                <th style="width:10px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.id">
                                    <td>@item.name</td>
                                    <td>
                                        <a href="/Admin/NewsCategories/Edit/@item.id" class="btnEdit"></a>
                                    </td>
                                    <td>
                                        @Ajax.ActionLink("Xóa", "Delete", new { @id = item.id }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xóa danh mục này?",
                                       OnComplete = "removeRow(" + @item.id + ")",
                                       HttpMethod = "Delete",
                                   }, new { @class = "btnDelete" })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>